$fondo:#2a2926;

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: $fondo;
    color: white;
    font-family: 'Roboto Slab', serif;
}

body::-webkit-scrollbar{
    width: 7px;
    background-color: black;
}

body::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 100px;
}

header{
    width: 100%;
    position: sticky;
    z-index: 5;
    top: 0px;
}

li{
	display: inline-block;
	margin-top:20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

nav{
	text-align: center;
	background-color: $fondo;
    height: 80px;
    width: 100%;
}

.checkbtn{
    display: none;
    color: aliceblue;
}

#check{
    display: none;
}

a{
	color:#dfb7eb;
	font-size:20px;
	text-decoration:none;
}

a:hover{
	color:white;
	transition:.5s;
}

.stay{
    font-size: 20px;
}

.foo{
    width: 100%;
    text-align: center;
    grid-area: foo;
    background-color: #1b1b19;
}

/* - - - HOME - - - */

.home{
    span{
        font-size: 22px;
        color: #b1b1b1;
    }
    .por{
        display: grid;
        grid-area: por;
        background-image: url(mult/port.png);
    }
    #fuck{
        width: 30%;
        justify-self: center;
        align-self: center;
    }
    .pic{
        display: flex;
        flex-direction: column;
        grid-area: pic;
        text-align: center;
        strong{
            font-size: 20px;
        }
    }
    .inf{
        display: grid;
        grid-area: inf;
        width: 90%;
        align-items: center;
    }
    .you{
        display: grid;
        grid-area: you;
        iframe{
            width: 90%;
            height: 355px;
            justify-self: center;
        }
    }
    .spo{
        grid-area: spo;
        text-align: center;
        iframe{
            width: 90%;
            height: 380px;
        }
    }
    .container{
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr .1fr .1fr; 
        gap: 30px 0px; 
        grid-template-areas: 
            "por por por por"
            "pic pic inf inf"
            "you you spo spo"
            "you you spo spo"
            "foo foo foo foo";
    }
}

/* - - - MERCH - - - */

.merch{
    .compreAqui{
        text-align: center;
        font-size: 30px;
    }
    .tablaProductos{
        width: 100%;
    }
    img{
        width: 400px;
    }
    .name{
        font-size: 20px;
    }
    .more{
        text-align: center;
        font-size: 30px;
        margin-bottom: 50px;
    }
}

/* - - - ARTISTAS - - - */

.art{
    .cant{
        margin-bottom: 10px;
        img{
            width: 300px;
        }
    }
    p{
        font-size: 20px;
    }
    .imgName{
        display: inline-block;
        text-align: center;
    }
    .fa-brands{
        text-align: center;
    }
    .arts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Redes{
        text-align: center;
        a{
            font-size: 30px;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .foo{
        margin-top: 10px;
    }
}

/* - - - NOSOTROS - - - */

.contacto{
    height: 100vh;
    .pic{
        img{
            width: 400px;
        }
    }
    .fa-brands, .fa-solid{
        font-size: 50px;
        margin-left: 30px;
        margin-top: 10px;
    }
    .pic{
        grid-area: pic;
        text-align: center;
        margin-left: 30px;
        strong{
            display: block;
        }
    }
    .inf{
        grid-area: inf;
        display: grid;
        align-self: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .red{
        width: 100%;
        grid-area: red;
        text-align: center;
        margin-bottom: 11.5px;
        margin-top: 10px;
    }
    .container{
        display: grid;
        gap: 0px 0px;
        grid-template-areas: 
            "pic inf"
            "red red"
            "foo foo";
            /*con el footer tengo un problemita que no me deja ponerlo bien en el bottom, o se queda mas arriba o se va mas abajo, ayuda 👉👈*/
    }
}

/* - - - MEDIA - - - */
/* - MOBILE - */
@media screen and (min-width:0) and (max-width:650px){
    /*ALL*/
    /*el nav se abre cada vez mas abajo, que puede ser? no lo llego a entender*/
    .checkbtn{
        display: block;
        text-align: right;
        color: #dfb7eb;
        font-size: 30px;
        margin-top: 20px;
        margin-right: 10px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: $fondo;
        text-align: center;
        right: -100%;
        transition: .5s;
        li{
            display: block;
        }
    }
    #check:checked~ul{
        right: 0;
    }
    
    /*HOME*/
    .home{
        .container{
            display: flex;
            flex-direction: column;
        }
        #fuck{
            width: 100%;
        }
        .you{
            iframe{
                height: 220px;
            }
        }
        .inf{
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            p{
                text-align: center;
            }
        }
    }

    /*MERCH*/
    .merch{
        img{
            width:150px;
        }
        .tablaProductos{
            p{
                font-size: 10px;
            }
        }
        .compreAqui{
            font-size: 15px;
        }
        .more{
            font-size: 20px;
        }
    }
    
    /*NOSOTROS*/
    .contacto{
        overflow: auto;
        .container{
            grid-template-areas: 
                "pic pic"
                "inf inf"
                "red red"
                "foo foo";
        }
        .pic{
            margin: 0%;
            img{
                width: 300px;
            }
        }
        .inf{
            text-align: center;
            padding-top: 10px;
        }
        .fa-brands{
            font-size: 30px;
        }
    }
}